---
import { TRANSLATIONS, getLocale, useTranslations } from "@/i18n"
import Layout from "@/layouts/Layout.astro"
import Education from "@/sections/Education.astro"
import Experience from "@/sections/Experience.astro"
import Languages from "@/sections/Languages.astro"
import Skills from "@/sections/Skills.astro"

export function getStaticPaths() {
  return Object.keys(TRANSLATIONS).map((locale) => ({ params: { locale } }))
}

const locale = getLocale(Astro.currentLocale)
const t = useTranslations(locale)
---

<Layout
  lang={locale}
  title={t("title", "Daniel Muñoz Neyra")}
  description={t("description")}
>
  <main class="spacer">
    <Experience />
    <Skills />
    <Education />
    <Languages />
  </main>
</Layout>
