---
import EducationItem from "@/components/EducationItem.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import { getLocale, useTranslations } from "@/i18n"

const locale = getLocale(Astro.currentLocale)
const t = useTranslations(locale)

const educations = [
  {
    startDate: "2021-09-08",
    endDate: "2024-06-21",
    institution: t("education.0.institution"),
    area: t("education.0.area"),
    link: "https://www.tragsa.es",
  },
]
---

<SectionContainer title={t("education.title")}>
  <ol class="spacer">
    {
      educations.map((education) => (
        <li>
          <EducationItem {...education} />
        </li>
      ))
    }
  </ol>
</SectionContainer>
